*{
  outline: 1px solid red;
}

/*
.container {
  display: grid;
  grid-template-areas:
    "header header"
    "sidebar main"
    "footer footer";
  grid-template-columns: 200px 1fr;
  grid-template-rows: 60px 1fr 40px;
  height: 100vh;
}
header   { grid-area: header; }
aside    { grid-area: sidebar; }
main     { grid-area: main; }
footer   { grid-area: footer; }
*/

.container{
  display: grid;
  grid-template-areas:
  "header header"
  "sidebar main"
  "footer footer";
  grid-template-columns: 0.35fr 1fr;
  grid-template-rows: 0.19fr 1fr 0.19fr;
  height: 100vh;
}

header{ grid-area: header}
main{ grid-area: main}
aside{ grid-area: sidebar}
footer{ grid-area: footer}